@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Roboto:wght@300&display=swap");
.btn .badge {
    margin: 0;
}
/* .modern-badge {
	display: inline-block;
	height: 21px;
	margin: 0 10px 0 0;
	padding: 0 7px 0 14px;
	white-space: nowrap;
	position: relative;

	background: -moz-linear-gradient(top, #fed970 0%, #febc4a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a));
	background: -webkit-linear-gradient(top, #fed970 0%,#febc4a 100%);
	background: -o-linear-gradient(top, #fed970 0%,#febc4a 100%);
	background: linear-gradient(to bottom, #fed970 0%,#febc4a 100%);
	background-color: #FEC95B;

	color: #963;
	font: bold 11px/21px Arial, Tahoma, sans-serif;
	text-decoration: none;
	text-shadow: 0 1px rgba(255,255,255,0.4);

	border-top: 1px solid #EDB14A;
	border-bottom: 1px solid #CE922E;
	border-right: 1px solid #DCA03B;
	border-radius: 1px 3px 3px 1px;
	box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);
    
}
.modern-badge:before{
        content: '';
        position: absolute;
        top: 5px;
        left: -6px;
        width: 10px;
        height: 10px;
    
        background: -moz-linear-gradient(45deg, #fed970 0%, #febc4a 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fed970), color-stop(100%,#febc4a));
        background: -webkit-linear-gradient(-45deg, #fed970 0%,#febc4a 100%);
        background: -o-linear-gradient(45deg, #fed970 0%,#febc4a 100%);
        background: linear-gradient(135deg, #fed970 0%,#febc4a 100%);
        background-color: #FEC95B;
    
        border-left: 1px solid #EDB14A;
        border-bottom: 1px solid #CE922E;
        border-radius: 0 0 0 2px;
        box-shadow: inset 1px 0 #FEDB7C, 0 2px 2px -2px rgba(0,0,0,0.33);
        -webkit-transform: scale(1, 1.5) rotate(45deg);  
        -moz-transform: scale(1, 1.5) rotate(45deg);  
        -ms-transform: scale(1, 1.5) rotate(45deg);  
        transform: scale(1, 1.5) rotate(45deg); 
}
.modern-badge:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 1px;
	width: 7px;
	height: 7px;
	background: #FFF;
	border-radius: 4px;
	border: 1px solid #DCA03B;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
}
.modern-badge:hover {
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(153,102,51,0.3);
} */
.modern-badge {
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 23px;
    font-weight: 600;
    display: inline-block;
    margin: 5px 10px 5px 0px;
    text-transform: uppercase;
    border: 1px solid #eaeff5;
    border-top-color: rgb(234, 239, 245);
    border-right-color: rgb(234, 239, 245);
    border-bottom-color: rgb(234, 239, 245);
    border-left-color: rgb(234, 239, 245);
}

.modern-badge-success {
    color: #1fb650;
    border-color: rgba(31, 182, 80, 0.12);
    background: rgba(31, 182, 80, 0.12);
}
.modern-badge-danger {
    /* background: rgba(210, 0, 1, 0.1);
    color: #d20001; */

    color: #f21136;
    border-color: rgba(242, 17, 54, 0.1);
    background: rgba(242, 17, 54, 0.1);
}
.modern-badge-info {
    background: rgba(38, 169, 225, 0.1);
    color: #26a9e1;
    border-color: rgba(38, 169, 225, 0.1);
}
.modern-badge-warning {
    color: #feb801;
    border-color: rgba(254, 184, 1, 0.1);
    background: rgba(254, 184, 1, 0.1);
}
.modern-badge-primary {
    border-color: rgba(9, 189, 199, 0.1) !important;
    background: rgba(9, 189, 199, 0.1);
}
.modern-badge-light {
    color: #212529;
    border-color: #e7e7e7;
    background: #f8f9fa;
}
.modern-badge-success
    .modern-badge-success
    .modern-badge-success
    .table
    .table {
    background-color: #1e1e2f;
}
.btn.btn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal;
}
.modern-tag {
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    display: inline-block;
    margin: 5px 10px 5px 0px;
    text-transform: uppercase;
    border: 1px solid #eaeff5;
    border-top-color: rgb(234, 239, 245);
    border-right-color: rgb(234, 239, 245);
    border-bottom-color: rgb(234, 239, 245);
    border-left-color: rgb(234, 239, 245);
}
.tag-color-1 {
    background: rgba(247, 223, 30, 0.1);
    color: #f7df1e;
    box-shadow: inset 0 0 0 1px rgba(247, 223, 30, 0.1) inset 0 0 0 1px
            rgba(247, 223, 30, 0.1),
        inset 0 0 0 1px rgba(247, 223, 30, 0.1);
    border-color: #f7df1e;
}
.tag-color-2 {
    background: rgba(86, 39, 101, 0.1);
    color: #562765;
    box-shadow: inset 0 0 0 1px rgba(86, 39, 101, 0.1) inset 0 0 0 1px
            rgba(86, 39, 101, 0.1),
        inset 0 0 0 1px rgba(86, 39, 101, 0.1);
    border-color: #562765;
}
.tag-color-3 {
    background: rgba(0, 131, 53, 0.1);
    color: #008335;
    box-shadow: inset 0 0 0 1px rgba(0, 131, 53, 0.1) inset 0 0 0 1px
            rgba(0, 131, 53, 0.1),
        inset 0 0 0 1px rgba(0, 131, 53, 0.1);
    border-color: #008335;
}
.tag-color-2 {
    background: rgba(86, 39, 101, 0.1);
    color: #562765;
    box-shadow: inset 0 0 0 1px rgba(86, 39, 101, 0.1) inset 0 0 0 1px
            rgba(86, 39, 101, 0.1),
        inset 0 0 0 1px rgba(86, 39, 101, 0.1);
    border-color: #562765;
}
.row > * {
    padding: 6px;
}

.btn {
    cursor: pointer;
}

.btn span.bs-caret {
    display: none;
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}
/* paginator styling */
.pagination {
    margin: 20px auto;
}
.pagination > li > a,
.pagination > li > span,
.page-item:not(.active) .page-link:hover {
    color: rgba(0, 0, 0, 0.55);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.page-item.active .page-link {
    background-color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}
.icon-primary {
    padding: 0.25rem 0.75rem;
    margin-left: -1px;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.link {
    text-decoration: none;
}
.link-btn {
    font-weight: 400;
    color: #4554c2;
    cursor: pointer;
    background-color: transparent;
}
.link-primary {
    color: rgba(0, 0, 0, 0.7);
}
.link-secondary {
    color: black;
}
.link-secondary:hover {
    color: rgb(97, 97, 97);
}
.sbtn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    margin: 1px 2px;
    border: 1px solid transparent;
    padding: 11px 30px;
    font-size: 0.875rem;
    line-height: 1.35em;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}
.wrapper,
.main-panel,
.blog-main-panel,.podcast-main-panel {
    width: 100vw;
    max-width: 1300px;
    margin: auto;
}
.nd-main-panel {
    width: 100vw;
}

@media only screen and (min-width: 100px) {
    .nd-main-panel {
        width: 80vw;
        margin: auto;
    }
}
@media only screen and (min-width: 900px) {
    .nd-main-panel {
        width: 90vw;
        margin:  auto;
    }
}
@media only screen and (max-width: 900px) {
    .nd-main-panel {
        width: 100vw;
        margin: 60px auto;
        padding: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .nd-main-panel {
        width: 100vw;
        margin: 60px auto;
        padding: 20px 0px;
    }
}
.main-panel,
.user-main-panel,
.blog-main-panel,.podcast-main-panel {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-panel .left {
    flex: 13%;
    display: fixed;
    min-height: 100vh;
}
.main-panel .middle {
    flex: 54%;
    width: 54vw;
}
.main-panel .right {
    flex: 27%;
    padding: 10px;
    margin: 0px 5px;
}

.blog-main-panel .middle {
    flex: 70%;
    width: 70vw;
}
.blog-main-panel .right {
    flex: 29%;
    padding: 10px;
    margin: 10px 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}
.podcast-main-panel .middle {
    flex: 65%;
    width: 65vw;
}
.podcast-main-panel .right {
    flex: 35%;
    padding: 10px;
    margin: 10px 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}
.user-main-panel .middle {
    flex: 77%;
    width: 77%;
}

.user-main-panel .left {
    flex: 23%;
    width: 23%;
    padding: 10px 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}
@media only screen and (max-width: 1000px) {
    .main-panel .left {
        display: none;
    }
    .main-panel .middle {
        flex: 60%;
        width: 60vw;
    }
    .main-panel .right {
        flex: 40%;
    }
}
@media only screen and (max-width: 840px) {
    .main-panel,
    .blog-main-panel,.podcast-main-panel {
        flex-direction: column;
    }
    .mobile-nav-tab {
        display: block;
    }
    .desktop-nav-tab {
        display: none;
    }
    .main-panel .middle,
    .blog-main-panel .middle,.podcast-main-panel .middle {
        width: 100vw;
        border: none;
    }
    .user-main-panel {
        flex-direction: column-reverse;
    }
    .user-main-panel .left {
        flex: 100%;
        width: 100%;
        padding: 30px 10px;
    }
    .user-main-panel .middle {
        flex: 100%;
        width: 100%;
    }
    .main-panel .right,
    .blog-main-panel .right {
        border: none;

    }
}
@media only screen and (max-width: 490px) {
    .user-main-panel .left {
        padding: 30px 5px;
    }
}
.guest-account {
    padding-top: 70px;
}
.guest-account .card .card-header {
    text-align: center;
    color: black;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
}
.guest-account .card .card-body {
    padding-top: 30px;
}

/* blog styling */
.blog,
.about,
.like {
    margin: 30px auto;
}
.blog-title {
    font-size: 34px;
    margin-bottom: 40px;
}

.detailed-blog {
    padding: 30px;
    margin-top: 20px;
}

.detailed-blog .title {
    font-size: 64px;
    font-weight: 400;
}

.user {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0px;
}

.user .user-left {
    flex: 70%;
    display: flex;
    flex-direction: row;
}
.user .user-left-popover {
    flex: 70%;
    display: flex;
    flex-direction: column;
}
.user .user-right {
    flex: 27%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user .user-left .image {
    flex: 15%;
}
.user .user-left .info {
    flex: 80%;
    padding-left: 20px;
}
.user .user-left .info p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
}
.user .user-left .image img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .detailed-blog {
        padding: 30px 15px;
    }
    .user {
        border-radius: 10px;
        padding: 5px;
        width: 100%;
    }
    .user .user-left {
        flex: 60%;
    }
    .detailed-blog .title {
        font-size: 34px;
        font-weight: 700;
    }
    .user .user-left .image img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }
    .user .user-right .btn {
        padding: 10px;
    }
}

.blog-bar {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.blog-bar .blog-bar-left {
    flex: 45%;
    position: relative;
}
.blog-bar .blog-bar-right {
    flex: 55%;
    display: block;
}
.blog-bar .blog-bar-right ul.blog-bar-right-ul {
    list-style: none;
    text-align: right;
    padding-left: 0px;
}
.blog-bar .blog-bar-right ul .blog-bar-item {
    display: inline;
}

.blog-bar .blog-bar-right ul .blog-bar-item .blog-bar-link {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}
.blog-bar .blog-bar-right ul .blog-bar-item .blog-bar-link span {
    margin: 2px;
}

@media only screen and (max-width: 666px) {
    .blog-bar {
        flex-direction: column;
    }
    .blog-bar .blog-bar-right ul {
        list-style: none;
        text-align: center;
        margin-top: 10px;
    }
    .blog-bar .blog-bar-right,
    .blog-bar .blog-bar-left {
        flex: 100%;
    }
    .blog-bar .blog-bar-left span.text-muted {
        position: absolute;
        right: 0;
        text-align: center;
    }
}

.blog-description {
    padding: 5px;
    margin: 20px auto;
}

.blog-description .image {
    width: 100%;
    height: 400px;
    /* margin: 5px; */
    text-align: center;
}

.blog-description .image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.blog-description .description {
    margin: 20px auto;
}

/* comments design */

/* .comments{
    padding: 10px 5px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.1);
} */
.comment-top {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px auto 20px;
    font-size: 18px;
}
.comment:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comment {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px 5px;
    margin: 20px auto;
}
.comment .image {
    flex: 8%;
}
.comment .comment-body {
    flex: 90%;
    width: 90%;
    padding-left: 10px;
}
.comment .image .user-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 20px;
}

.comment .comment-body .replies .reply {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    margin: 20px auto;
}
.comment .comment-body .replies .reply .image {
    flex: 8%;
}
.comment .comment-body .replies .reply .reply-body {
    flex: 92%;
    width: 90%;
    height: 100%;
    padding-left: 10px;
}
.comment .comment-body .replies .reply .image img {
    margin-left: 0px;
}
.action {
    margin: 10px auto;
}
.action-btn {
    border: none;
    background: white;
    word-spacing: 6px;
    margin-right: 10px;
    padding: 5px;
}
/* @media only screen and (max-width: 500px) {
    .comment,
    .comment .comment-body .replies .reply {
        padding: 10px 0px;
    }
    .comment .image img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-left: 10px;
    }
} */
/* mobile comment */
.comment-top {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px auto 20px;
    font-size: 18px;
}
.mobile-comment:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-comment {
    height: 100%;
    padding: 10px;
    margin: 20px auto;
}
.mobile-comment .mobile-comment-top {
    display: flex;
    flex-direction: row;
}
.mobile-comment-top .image {
    flex: 8%;
}
.mobile-comment-top .detail {
    flex: 92%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.mobile-comment .mobile-comment-body {
    margin: 10px auto;
}
.mobile-comment-top .image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment .comment-body .replies .reply {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    margin: 20px auto;
}
.comment .comment-body .replies .reply .image {
    flex: 8%;
}
.comment .comment-body .replies .reply .reply-body {
    flex: 92%;
    width: 90%;
    height: 100%;
    padding-left: 10px;
}
.comment .comment-body .replies .reply .image .user-img {
    margin-left: 0px;
}
.action {
    margin: 10px auto;
}
.action-btn {
    border: none;
    background: white;
    word-spacing: 6px;
    margin-right: 10px;
    padding: 5px;
}

.responsive-enable {
    display: none;
}
@media only screen and (max-width: 1138px) {
    .responsive-disable {
        display: none;
    }
    .responsive-enable {
        display: block;
    }
}
/* profile page styling */

.profile {
    padding: 0px 10px 20px 10px;
}
.profile h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
}
.profile .nav .nav-item .active.detail {
    color: green;
    border-color: green;
}
.profile .profile-body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.profile .profile-body .background-image {
    width: 100%;
    height: 400px;
}
.profile .profile-body .background-image img {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

.profile .profile-body .profile-image {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.profile .profile-body .profile-image .user-image {
    flex: 25%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-height: 100px;
}
.profile .profile-body .profile-image .user-detail {
    flex: 45%;
    padding-left: 60px;
}
.profile .profile-body .profile-image .user-detail h1 {
    font-weight: 900;
}
.profile .profile-body .profile-image .user-detail span {
    font-size: 18px;
    font-weight: 600;
}
.profile .profile-body .profile-image .user-btn {
    flex: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.profile .profile-body .profile-image .user-image img {
    position: inherit; /* Added Position */
    background-color: #0f0;
    top: -60px;
    left: 30px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 6px solid white;
}
.nav-tabs .nav-item .nav-link {
    font-weight: 700;
}
.nav-tabs .nav-item .nav-link:not(.active) {
    color: #6c757d;
}
.card .card-body .title {
    font-size: 28px;
    font-weight: 700;
}
.card .card-body .sub-body {
    padding: 5px;
}
.card .card-body .sub-body .sub-title {
    font-size: 20px;
    font-weight: 600;
}
.sub-title-color {
    color: #6c757d;
}
@media only screen and (max-width: 700px) {
    .profile .profile-body .background-image {
        height: 300px;
    }
    .profile .profile-body .profile-image {
        flex-direction: column;
    }
    .profile .profile-body .profile-image .user-image img {
        left: 0px;
        width: 160px;
        height: 160px;
        border: 4px solid white;
    }
    .profile .profile-body .profile-image .user-detail {
        padding: 10px;
        text-align: center;
    }
    .profile .profile-body .profile-image .user-btn {
        align-items: center;
        justify-content: center;
    }
}

.blog-create {
    padding: 20px 10px;
}

.tags {
    width: 100%;
    padding: 30px 20px;
}
.bottom-notice {
    margin-top: 15px;
    padding-top: 10px;
    font-weight: normal;
    padding: 0 10px 0 0;
    line-height: 1.4;
    font-size: 1rem;
}
.user-details .description {
    padding-left: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: rgb(87, 87, 87);
    font-size: 16px;
    line-height: 24px;
}
.user-details-inner {
    padding-left: 5px;
    list-style: none;
}
.user-details-inner li {
    margin-bottom: 10px;
}
.user-details-inner .key {
    color: rgb(82, 82, 82);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
}
.user-details-inner .value {
    color: rgb(64, 64, 64);
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;
}
/* new styleing */
:root {
    --height-logo-header: 45px;
    --height-logo-footer: 35px;
    --height-logo-signin: 45px;
    --height-logo-mobile: 35px;
    --border-radius: 22px;
    --max-width-global-wrap: 1460px;
    --max-width-hero-wrap: 1240px;
    --max-width-cards-wrap: 1120px;
    --max-width-post-wrap: 1000px;
    --font-family-one: "Nunito", sans-serif;
    --font-weight-one-regular: 400;
    --font-weight-one-extra-bold: 800;
    --font-weight-one-black: 900;
    --font-family-two: "Nunito", sans-serif;
    --font-weight-two-regular: 400;
    --ghost-accent-color: #646eff;
    --color-gray: #f4f4f7;
    --color-pearl: #ede7e7;
    --color-avocado: #e6f5ca;
    --color-cream: #fdeacc;
    --color-sand: #ffeab9;
    --color-rose: #fce6f0;
    --color-peach: #fddfd8;
    --color-iris: #e1e6ff;
    --color-sky: #e0e9ff;
    --color-lavender: #e8e5ff;
    --color-pool: #d7f8ff;
    --color-aqua: #d2f8f0;
    --color-seafoam: #c3f4df;
    --color-turquoise: #b0f3f7;
    --color-font-one: #2b394e;
    --color-font-two: #2b394e;
    --color-font-input: #dbdbdf;
    --color-one: #f4f4f7;
    /* --color-two: #ededf1;
    --color-three: #b8b8bd; */
    --color-four: rgba(0, 0, 0, 0.06);
    --color-five: rgba(0, 0, 0, 0.1);
    --color-six: rgba(0, 0, 0, 0.06);
    --color-seven: rgba(0, 0, 0, 0.1);
    --color-white: #fff;
    --color-body: #fff;
    --color-alert-success: #aaef52;
    --color-alert-error: #ff6c78;
    --overlay-search: rgba(0, 0, 0, 0.6);
    --overlay-button: rgba(0, 0, 0, 1);
    --invert-zigzag: invert(0);
    --text-color-one: #161f38;
    --color-secondary: #44d468;
    --color-three: #cbc0b9;
}
:root {
    --margin: 20px;
    --padding-10: 10px;
    --border-radius: 22px;
    --font-weight-one-black: 900;
}
body {
    background: var(--color-body);
    font-size: 14px;
    font-weight: var(--font-weight-one-regular);
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
}
::-moz-selection {
    color: white;
    background: var(--color-secondary);
}

::selection {
    color: white;
    background: var(--color-secondary);
}
img {
    border-style: none;
}
a {
    text-decoration: none;
    color: var(--color-font-one);
    background-color: transparent;
}
main {
    display: block;
}
.f-16 {
    font-size: 16px;
}
.f-13 {
    font-size: 13px;
}
.text-muted {
    color: rgb(117, 117, 117);
}
/* .h-300{
    height: 300px !important;
} */
/* a:visited {
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #ea4c89;
    text-decoration: none;
  } */

/* .form-outline {
    border-radius: 8px;
}
input:focus,
.form-control:focus,
.typeahead__field input:focus {
    border-color: #44d468;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(68, 212, 104, 0.1);
} */
.global-main {
    width: 100%;
    max-width: var(--max-width-global-wrap);
    margin: 0 auto;
    flex: 1 0 auto;
}
.global-image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.global-tags {
    line-height: 1;
}
.global-meta {
    font-size: 16px;
    line-height: 1.2;
}
.global-meta,
.global-tags {
    font-weight: var(--font-weight-one-extra-bold);
    max-width: 700px;
}
.global-sections {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 14vh;
}
.global-label {
    font-size: 10px;
    font-weight: var(--font-weight-one-black);
    line-height: 1.2;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-top: 0;
    transform: translate(-58%, 120px) rotate(-90deg);
    text-align: right;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.global-label svg {
    display: none;
    width: 90px;
    margin-top: 10px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 1024px) {
    .global-label {
        font-size: 14px;
        position: relative;
        align-items: center;
        flex-basis: 100%;
        flex-direction: column;
        min-height: 60px;
        margin-bottom: 20px;
        transform: translate(0) rotate(0);
        text-align: center;
        text-indent: 3px;
        letter-spacing: 3px;
        font-weight: 900;
        width: 100%;
    }
    .global-zigzag svg {
        display: block;
        width: 80px;
        margin-bottom: 10px;
        fill: var(--color-six);
    }
}
.global-label-h {
    font-size: 14px;
    position: relative;
    align-items: center;
    flex-basis: 100%;
    flex-direction: column;
    min-height: 60px;
    margin-bottom: 20px;
    transform: translate(0) rotate(0);
    text-align: center;
    text-indent: 3px;
    letter-spacing: 3px;
    font-weight: 900;
    width: 100%;
}
.global-label-h.global-zigzag svg {
    display: block;
    width: 80px;
    margin-bottom: 10px;
    fill: var(--color-six);
}

/* show blog page */

.blog {
    width: 100%;
    margin: 10px auto;
    padding: 0 80px;
}

.blog-section {
    position: relative;
}
.nav-tabs .nav-link:hover {
    background-color: #f5f5f5;
    border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    max-width: calc(100% - var(--margin));
    transition: transform 0.2s ease;
    border-radius: calc(var(--border-radius) + (var(--border-radius) / 3));
    flex: 1 0 calc(33.333% - var(--margin) - var(--margin));
}
.item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item.is-hero .item-container {
    flex-direction: row;
    margin: 0 var(--margin) 7vh;
    align-items: center;
}
.item.is-hero .item-image {
    position: relative;
    height: 100%;
    margin-right: 5%;
    -webkit-animation: slideTopLoopImage 1s ease;
    animation: slideTopLoopImage 1s ease;
    flex: 0 0 50%;
}

.item.is-hero .item-image img {
    /* position: absolute;
    top: 0;
    left: 0; */
    border-radius: calc(var(--border-radius) + var(--border-radius));
}
.item-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 28px 35px;
}
.item.is-hero .item-content {
    height: auto;
    padding: 5vh 0;
    -webkit-animation: slideTopLoop 0.8s ease;
    animation: slideTopLoop 0.8s ease;
}

.item-tags {
    margin-left: 26px;
}
.item.is-hero .item-tags {
    display: flex;
    margin-left: -3px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item-title {
    font-size: 26px;
    line-height: 1.2;
    width: 100%;
    max-width: 360px;
    margin: 30px 0 12px -1px;
    color: var(--color-font-two);
}
.item.is-hero .item-title {
    font-size: 54px;
    max-width: 100%;
    margin: 0 0 30px -2px;
    color: var(--color-font-one);
}
.item-meta {
    display: flex;
    flex-wrap: wrap;
}

.item-profile-image {
    display: inline-block;
    flex: 0 0 auto;
    align-items: flex-start;
}
.item-profile-image a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 55px;
    height: 55px;
    margin-right: -15px;
    border: 2px solid var(--color-body);
    border-radius: 100px;
}
.item-profile-image a:first-of-type {
    margin-left: -4px;
}
.item-profile-image a:last-of-type {
    margin-right: 9px;
}
.item-author {
    margin-top: 5px;
    flex: 1 0 220px;
}
.item-time {
    font-size: 15px;
    font-weight: var(--font-weight-one-regular);
    line-height: 1.6;
    display: block;
}
.blog-content {
    font-family: var(--font-family-two);
    font-size: 18px;
    font-weight: var(--font-weight-two-regular);
    max-width: var(--max-width-post-wrap);
    margin: 0 auto 8vh;
}
figure {
    margin: 15px auto;
    text-align: center;
}
figure figcaption {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(117, 117, 117);
}
.blog-share-section {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.social-wrap {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.social-wrap.blog-share-wrap {
    align-items: center;
    justify-content: center;
}
.social-link {
    color: var(--c-text-main);
    margin: 0 12px 16px 12px;
    background: #efefef;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-icon-facebook,
.link-icon-facebook:focus,
.link-icon-facebook:visited,
.link-icon-facebook:hover {
    color: #1877f2;
}
.link-icon-twitter,
.link-icon-twitter:focus,
.link-icon-twitter:visited,
.link-icon-twitter:hover {
    color: #1da1f2;
}
.link-icon-linkedin,
.link-icon-linkedin:focus,
.link-icon-linkedin:visited,
.link-icon-linkedin:hover {
    color: #0a66c2;
}
.link-icon-reddit,
.link-icon-reddit:focus,
.link-icon-reddit:visited,
.link-icon-reddit:hover {
    color: #ff4500;
}
.link-icon-whatsapp,
.link-icon-whatsapp:focus,
.link-icon-whatsapp:visited,
.link-icon-whatsapp:hover {
    color: #25d366;
}
.link-icon-telegram,
.link-icon-telegram:focus,
.link-icon-telegram:visited,
.link-icon-telegram:hover {
    color: #0088cc;
}
.link-icon-instagram,
.link-icon-instagram:focus,
.link-icon-instagram:visited,
.link-icon-instagram:hover {
    color: #fb3958;
}
.link-icon-medium,
.link-icon-medium:focus,
.link-icon-medium:visited,
.link-icon-medium:hover {
    color: #000000;
}
.link-icon-quora,
.link-icon-quora:focus,
.link-icon-quora:visited,
.link-icon-quora:hover {
    color: #b92b27;
}
.link-icon-youtube,
.link-icon-youtube:focus,
.link-icon-youtube:visited,
.link-icon-youtube:hover {
    color: #ff0000;
}
.link-icon-github,
.link-icon-github:focus,
.link-icon-github:visited,
.link-icon-github:hover {
    color: #171515;
}
.link-icon-codepen,
.link-icon-codepen:focus,
.link-icon-codepen:visited,
.link-icon-ycodepen:hover {
    color: #000000;
}


.blog-auther {
    margin: 20px auto;
}
.alert{
    border:1px solid transparent;
}
.e-card,
.e-scard {
   
}
.e-card-shadow,
.e-scard-shadow,
.e-vcard-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}
.e-card-primary {
    background: #f8f8f8;
}
.e-card.e-card-hover:hover,
.e-scard.e-scard-hover:hover {
    background: #f8f8f8;
}
.e-card .e-card-image {
    flex: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.e-card .e-card-image .user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.e-card .e-card-body {
    flex: 83%;
    padding: 10px;
}
.e-card .e-card-body .username {
    font-weight: var(--font-weight-one-black);
    font-size: 20px;
}
.e-card .e-card-body .e-card-line {
    font-size: 15px;
    font-weight: var(--font-weight-one-regular);
    line-height: 1.6;
    display: block;
}
.e-card-title {
    text-align: center;
    font-size: 54px;
    font-weight: var(--font-weight-one-black);
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}
.e-card-body-top {
    display: flex;
    flex-direction: row;
}
.e-card-body-top .top-left {
    flex: 45%;
}
.e-card-body-top .top-right {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.e-vcard {
    width: 100%;
    position: relative;

    font-size: 16px;
    border-radius: 16px;
    margin-top: 10px;
}
/* .e-vcard:hover {
    background: #f8f8f8;
} */
.e-vcard .e-vcard-image {
    width: 100%;
    height: 150px;
    position: relative;

    overflow: hidden;
    padding: 10px 14px;
}
.e-vcard .e-vcard-title {
    padding: 10px 15px;
    border-bottom: 1px solid var(--color-two);
}
.e-vcard .e-vcard-title h1,
.e-vcard .e-vcard-title h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.e-vcard .e-vcard-image img {
    /* position: absolute;
    top: 0; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}
.e-vcard .e-vcard-body {
    padding: 15px;
}
.e-vcard .e-vcard-list {
    list-style: none;
    padding: 0px;
}
.e-vcard .e-vcard-list li {
    padding: 15px;
}
.e-vcard .e-vcard-list.e-vcard-list-2 li {
    padding: 5px 15px;
}
.e-vcard .e-vcard-list li:hover {
    background: #f8f8f8;
}
.e-vcard .e-vcard-list li:last-child {
    border-radius: 0px 0px 16px 16px;
}
.e-vcard .e-vcard-list li:not(:last-child) {
    border-bottom: 1px solid var(--color-two);
}
.personal-info {
    display: flex;
    flex-direction: row;
}
.personal-info svg {
    height: 18px;
    width: 18px;
    margin-right: 10px;
}
.e-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    margin: 5px 0px;
    background-color: #ddd;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 1)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
    background-image: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
    background-image: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
    background-image: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
    background-image: linear-gradient(
        top,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );

    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
        0 2px 2px -1px rgba(0, 0, 0, 0.5),
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
        0 2px 2px -1px rgba(0, 0, 0, 0.5),
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.e-btn:hover {
    background-color: #eee;
    color: #555;
}
.mr-10 {
    margin-right: 10px;
}
.e-btn:active {
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

.e-btn[disabled],
.e-btn[disabled]:hover,
.e-btn[disabled]:active {
    border-color: #eaeaea;
    background: #fafafa;
    cursor: default;
    position: static;
    color: #999;
    /* Usually, !important should be avoided but here it's really needed :) */
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
.e-btn.e-btn-sm {
    padding: 4px 12px;
}

/* Larger buttons styles */

.e-btn.e-btn-lg {
    padding: 12px 30px;
    text-transform: uppercase;
}

.e-btn.e-btn-lg:active {
    top: 2px;
}
.e-btn.e-btn-primary,
.e-btn.e-btn-warning,
.e-btn.e-btn-success,
.e-btn.e-btn-danger,
.e-btn.e-btn-info,
.e-btn.e-btn-dark {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.3)),
        to(rgba(255, 255, 255, 0))
    );
    background-image: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    background-image: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    background-image: -ms-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    background-image: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
    background-image: linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
    );
}
.e-btn.e-btn-primary {
    background-color: #2374e1;
    border-color: #2374e1;
}

.e-btn.e-btn-primary:hover {
    background-color: #498be2;
}

.e-btn.e-btn-primary:active {
    background: #2374e1;
}

.e-btn.e-btn-warning {
    background-color: #fa6e3b;
    border-color: #fa6e3b;
}

.e-btn.e-btn-warning:hover {
    background-color: #fa8256;
}

.e-btn.e-btn-warning:active {
    background: #fa6e3b;
}

.e-btn.e-btn-success {
    background-color: #44d468;
    border-color: #44d468;
}

.e-btn.e-btn-success:hover {
    background-color: rgb(102, 236, 133);
}

.e-btn.e-btn-success:active {
    background: #44d468;
}
.e-btn.e-btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.e-btn.e-btn-danger:hover {
    background-color: #e45866;
}

.e-btn.e-btn-danger:active {
    background: #dc3545;
}
.e-btn.e-btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.e-btn.e-btn-info:hover {
    background-color: #68d5e6;
}

.e-btn.e-btn-info:active {
    background: #17a2b8;
}
.e-btn.e-btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.e-btn.e-btn-dark:hover {
    background-color: #616a70;
}

.e-btn.e-btn-dark:active {
    background: #343a40;
}

.blog-actions {
    margin: 10px auto;
}
.blog-actions .blog-actions-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-actions-inner .action-left {
    flex: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.blog-actions-inner .action-right {
    flex: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.blog-actions-inner .action-inner {
    margin: 10px 10px 10px 0px;
}

.e-rbtn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    /* color: rgb(101, 103, 107); */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 6px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.e-rbtn:hover {
    background-color: #eef7f0;
}
/* .e-rbtn.e-rbtn-primary {
    background-color: #2374e1;
    border-color: #2374e1;
}

.e-rbtn.e-rbtn-primary:hover {
    background-color: #498be2;
}

.e-rbtn.e-rbtn-primary:active {
    background: #2374e1;
} */

.e-rbtn svg {
    width: 24px;
    height: 24px;
}
.e-rbtn-inner {
    padding-right: 10px;
}
.e-rbtn.e-rbtn-liked {
    color: #2374e1;
    background-color: #f8f8f8;
}
.e-rbtn.e-rbtn-disliked {
    color: #856b6b;
    background-color: #f8f8f8;
}
.dropdown-item.e-rbtn {
    text-align: initial;
    padding: 0.5rem 1rem;
}
.action-inner-mobile-disable {
    display: block;
}
.action-inner-mobile-enable {
    display: none;
}
.pin-card {
    padding: 15px 20px;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
}
.e-scard {
    padding: 5px;
    border-radius: var(--border-radius);
    margin-top: 10px;
}
.e-scard.e-scard-vertical {
    flex-direction: column;
}
.pin-card-warning {
    border-color: rgb(230, 207, 121);
}
.e-scard-warning {
    background: rgb(253, 247, 226);
    border-color: rgb(230, 207, 121);
}
.e-scard-info {
    background-color: rgb(235, 244, 251);
    border-color: rgb(166, 206, 237);
}
.e-scard-danger {
    background-color: rgb(253, 242, 242);
    border-color: rgb(244, 180, 182);
}
.e-scard-success {
    background-color: #e2f7e7;
    border-color: #44d468;
}
.e-scard .card-body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    /* flex-shrink: stretch; */
    /* margin: 5px; */
}
.e-scard .card-body .image {
    flex: 30%;
    flex-basis: 30%;
    margin: 5px 15px 5px 5px;
    text-align: center;
    position: relative;
}
/* .e-scard.e-scard-secondary .card-body .image{
    flex: 30%;
    max-width: 250px;
    max-height: 100%;
    margin: 5px 15px 5px 5px;
    text-align: center;
} */
.e-scard .card-body .image img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.e-scard .card-body .detail {
    flex: 65%;
    margin: 5px 5px 5px 10px;
    position: relative;
}
.e-scard .card-body .detail .title {
    font-size: 24px;
    font-weight: 600;
}
.e-scard .card-body .detail .disable {
    display: none;
}
.e-scard .card-body .detail .statics {
    margin-bottom: 10px;
}
.e-scard .card-body .detail .statics span {
    padding-right: 15px;
}

.e-scard .card-body .detail .bookmark {
    position: absolute;
    top: -10px;
    right: -2px;
    font-size: 24px;
}
.bookmark-active {
    color: var(--color-secondary);
}

.suggest-sections {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.suggest-section {
    flex: 23%;
    margin: 0px 10px 10px 10px;
}
.suggest-section .blog-img-wrap {
    display: block;
    width: 100%;
    padding-bottom: 57%;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
    /* background-color: #303340; */
}
.suggest-section .blog-img-wrap img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.search-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-user .image {
    flex: none;
    padding: 5px;
}
.search-user .image .user-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.search-user .user-detail {
    flex: 1 1 0%;
    padding: 5px 10px;
}
.search-title {
    margin: 10px auto;
    padding-top: 20px;
}
.search-title h1 {
    line-height: 1.2;
    font-size: 44px;
    max-width: 100%;
    margin: 0 0 30px -2px;
    color: var(--color-font-one);
}
.response-message {
    margin: 24px auto;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    color: hsl(210, 8%, 15%);
    text-align: center;
    /* border-radius: 10px; */
}
.response-success {
    background-color: rgb(237, 248, 240);
    border-color: rgb(130, 201, 154);
}
.response-danger {
    background-color: rgb(253, 242, 242);
    border-color: rgb(244, 180, 182);
}
.response-warning {
    background-color: rgb(253, 247, 226);
    border-color: rgb(230, 207, 121);
}
.input-error {
    margin-top: 10px;
    color: #f93154;
    font-size: 13px;
}
.popover {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.175);
}
.popover .popover-arrow {
    display: block;
}

@media only screen and (max-width: 1280px) {
    .item.is-hero .item-title {
        font-size: 44px;
    }
    .global-content {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media only screen and (max-width: 1024px) {
    .item.is-hero .item-container {
        margin-bottom: 45px;
    }
    .item.is-hero .item-title {
        font-size: 40px;
    }
    .blog {
        padding: 0px 30px;
    }
    .suggest-sections {
        flex-wrap: wrap;
    }
    .suggest-section {
        flex: 45%;
        margin: 0px 10px 10px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .e-card {
        font-size: 16px;
    }
    .item {
        min-width: 210px;
        max-width: 100%;
    }
    .item.is-hero .item-image {
        flex-basis: 100%;
        height: initial;
        min-height: initial;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .item.is-hero .item-image img {
        position: initial;
        height: 450px;
        border-radius: calc(var(--border-radius) + var(--border-radius) / 3);
    }
    .item.is-hero .item-container {
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }
    .item.is-hero .item-content {
        padding: 0 25px;
    }
    .e-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .e-card.e-card-center .e-card-body {
        text-align: center;
    }
    .e-card .e-card-body .username {
        font-weight: var(--font-weight-one-black);
        font-size: 20px;
    }
    .e-card .e-card-image .user-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .e-card .e-card-image {
        flex: 10%;
        padding: 20px 10px;
    }
    .e-card-body-top {
        flex-direction: column;
    }
    .e-card-body-top .top-right {
        justify-content: center;
        align-items: center;
        padding-right: 0px;
        margin: 10px auto;
    }
    .suggest-sections {
        flex-direction: column;
    }
    .suggest-section {
        margin: 10px 10px 10px 10px;
    }
}

@media only screen and (max-width: 600px) {
    .e-scard .card-body {
        flex-direction: column;
    }

    .e-scard .card-body .image {
        flex: 100%;
        max-width: 100%;
        max-height: 250px;
        margin: 5px;
        text-align: center;
    }
    .e-scard .card-body .image img {
        position: relative;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .e-scard .card-body .detail {
        flex: 100%;
        margin: 20px 5px 5px;
    }

    .e-scard .card-body .detail .disable {
        display: block;
    }
}
@media only screen and (max-width: 490px) {
    body {
        font-size: 16px;
    }
    .e-card {
        font-size: 14px;
    }
    .item.is-hero .item-image img {
        height: 300px;
    }
    .item.is-hero .item-image {
        margin: 10px auto;
    }
    .item,
    .item.is-hero .item-image img {
        border-radius: var(--border-radius);
    }
    .blog-header.item .item-content {
        padding-right: var(--padding-10);
        padding-left: var(--padding-10);
    }
    .item.is-hero .item-tags {
        margin-left: 0;
    }
    .item.is-hero .item-title {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .blog-content {
        font-size: 16px;
        margin-bottom: 5vh;
        padding-right: var(--padding-10);
        padding-left: var(--padding-10);
        max-width: 100%;
    }
    .blog-content img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 10px auto;
    }
    .blog {
        padding: 0 15px;
    }
    .blog-actions-inner .action-left {
        flex: 70%;
    }
    .blog-actions-inner .action-right {
        flex: 25%;
    }
    .action-inner-mobile-enable {
        display: block;
    }
    .action-inner-mobile-disable {
        display: none;
    }
    .search-title h1 {
        line-height: 1.2;
        font-size: 34px;
        max-width: 100%;
        margin: 0 0 30px -2px;
        color: var(--color-font-one);
    }
}

.drop-zone {
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(235, 244, 251);
    border: 3px dashed rgb(166, 206, 237);
    border-radius: 10px;
}
.drop-zone-danger {
    background-color: rgb(253, 242, 242);
    border-color: rgb(244, 180, 182);
}
.drop-zone--over {
    background-color: white;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}
.tabs {
    position: relative;
}

.tabs:not(.--jsfied) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.tabs .--hidden {
    display: none;
}

.tabs .-primary {
    display: flex;
}

.tabs .-primary .-more > button span {
    display: inline-block;
    transition: transform 0.2s;
}

.tabs.--show-secondary .-primary .-more > button span {
    transform: rotate(180deg);
}

.tabs .-secondary {
    max-width: 100%;
    min-width: 10em;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
    animation: nav-secondary 0.2s;
}

.tabs.--show-secondary .-secondary {
    display: block;
}

@keyframes nav-secondary {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.item-multiplier {
    margin-right: 4px;
    font-size: 11px;
    color: rgb(131, 140, 149);
}
.item-multiplier-count {
    color: rgb(131, 140, 149);
}







.accordion-button:not(.collapsed) {
    color: #6e6d7a;
}

.nav-tabs .nav-link.capitalize{
    text-transform:capitalize;
    font-size:16px;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.search-commands {
    list-style: none;
    padding-left: 0px;
    flex: 1;
}
.search-commands li {
    display: inline;
    margin-right: 0.8em;
}
.search__result {
    margin-top: 10px;
    position: relative;
}
.search__list {
    width: 100%;
    min-width: 160px;
    padding: 0px;
    list-style: none;
    text-align: left;
    background-color: #fff;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.search__list > li {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    clear: both;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
}
.search__list > li.search__item:hover,
.search__list > li.search__item.active {
    background: #f8f8f8;
}
.search__list > .search__group {
    background: #ecf5fc;
    margin-bottom: 10px;
    border: 1px solid rgb(191, 222, 246);
    font-weight: bold;
}
.search__list > .search__group:not(:first-child) {
    margin-top: 10px;
}
.search__list > .search__group > a,
.search__list > .search__group > a:hover,
.search__list > .search__group > a:focus,
.search__list > .search__group.active > a {
    cursor: default;
    color: #17639f;
}
.search__list > li.search__empty {
    position: relative;
    display: block;
    padding: 30px 0.75rem;
    clear: both;
    text-decoration: none;
    text-align: center;
    margin: auto;
    border: 1px solid transparent;
    background-color: rgb(253, 242, 242);
    border-color: rgb(244, 180, 182);
}


